<form action="/patient/signin" method="post" class="form-box">
    <h3 class="h4 text-black mb-4"><%- intro %></h3>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Email Addresss">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Password">
    </div>
    <!-- <div class="form-group mb-4">
      <input type="password" class="form-control" placeholder="Re-type Password">
    </div> -->
    <div class="form-group">
      <input type="submit" class="btn btn-primary btn-pill" value="Continue">
      <a href="/users" class="nav-link"><span>Staff Login</span></a>
    </div>
  </form>