

<div style="margin-top:350px"></div>
<div class="container">
    <div class="row">
        <div class="col-6">
            <p>You are successfully Registered, kindly click the link to <a href="/users/login">login</a></p>
        </div>
    </div>
</div>
