<div class="site-section bg-dark" >

</div>
<div class="site-section bg-light " id="contact-section">
    <div class="container">

        
      <div class="row justify-content-center">
        <div class="col-md-7">

          
          <h2 class="section-title mb-3">Staff Registration Successful</h2>
          <p class="mb-5">Natus totam voluptatibus animi aspernatur ducimus quas obcaecati mollitia quibusdam temporibus culpa dolore molestias blanditiis consequuntur sunt nisi.</p>
          <!-- <%- include("./messages"); %> -->
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <p>You are successfully Registered, kindly click the link to <a href="/users/login">login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
